@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Josefin Sans', sans-serif;
}

body {
  background-color: powderblue;
  margin: 0;
  padding-top: 20px;
}
.top-header{
  background: #226b80;
}
.profile-image{
  float: left;
  width: 230px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 100%;
}
.skill-image {
  width: 260px;
  float: left;
  margin-left: 30px;
  padding-right: 50px
}
.education-image{
  width: 230px;
  float: left;
  margin-right: 30px;
}
h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'sacremento', cursive;
  color: #66BFBF;
}
.skill-text{
  margin: 0
}
h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  padding-bottom: 10px;
}
h5 {
  font-family: 'Montserrat', sans-serif;
  color:  #11999E;
}
.sub-heading {
  font-family: 'Montserrat', sans-serif;
  color:  #11999E;
  margin: 10px;
}
hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;

}
top-container{
  margin: 100px 0;
}
p{
  margin: 0;
}
a {
  text-decoration: none;
}
/*Forms styling*/

.parent {
    background: #226b80;
    padding: 7% 15%;

}
.wrapper{
  /*  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
    width: 50%;
    background: #ffffff;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 4px 4px 2px #35b0ab;
    margin: auto;
}
.wrapper h2 {
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #332902;
}
.wrapper .Input_field{
    margin-bottom: 10px;
}
.wrapper .Input_field input[type="text"],
.wrapper textarea{
    width: 100%;
    border: 1px solid #e0e0e0;
    padding: 10px;
}
.wrapper textarea{
    height: 80px;
    resize: none;
}
.wrapper .btn input[type="submit"]{
    border: 0;
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background: #35b0ab;
    color: #332902;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
}
.wrapper #error_message {
    margin-bottom: 20px;
    padding: 0px;
    background: #fe8b8e;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease;

}
/*footer*/
#footer {
  padding: 7% 15%;
  text-align: center;
}
.social-icon {
  margin: 20px 10px;
}
